<% if user_signed_in? %>
	<%= render 'pages/member' %>
	<% else %>
	<div id="home-hero">
		<div class="container">
			<div class="col-md-8 dgcwypd">
				<h1>Don't Get Caught</h1>
				<h2>With Your Pants Down</h2>
			</div>
			<div class=" col-md-4 join-home">
				<p><%= link_to "Get Started", new_user_registration_path, class: "btn btn-get-started btn-lg" %></p>
			</div>
		</div>
	</div>
	<div id="quality-banner">
		<div class="container">
			<h3>Quality Toilet Paper. Delivered To Your Door. Each Month.</h3>
		</div>
	</div>
	<div id="how-it-works">
	<div class="container">
		<h2>How it Works</h2>
		<div class="col-lg-4">
			<h3>Join The Society</h3>
			<img src="assets/step1.png" />
			<p>Accepting new members now. We've got your rear-end covered.</p>
		</div>
		<div class="col-lg-4">
			<h3>Check Your Mail</h3>
			<img src="assets/step2.png" />
			<p>Six rolls, hand delivered to your door, each and every month.</p>
		</div>
		<div class="col-lg-4">
			<h3>Wipe Away</h3>
			<img src="assets/step3.png" />
			<p>You're all set. Never run out again and avoid that awkward moment.</p>
		</div>
	</div>
</div>
<% end %>
<%= render 'layouts/footer' %>