// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { font-family: "Open Sans",helvetica, arial, sans-serif; }

#content-push {
	padding: 200px 0 0;
}

.center {
	text-align: center;
}

.navbar {
	margin-bottom: 0px;
	position: fixed;
	width: 100%;
	height: 92px;
	border-radius: 0px;
}

.navbar-brand {
	background: url(/assets/logo.png);
	width: 328px;
	height: 178px;
	text-indent: -99999px;
	display: block;
}

.navbar-default .navbar-nav > li > a {
    font-weight: 600;
    color: #0B2537;
}

.navbar-nav > li > a {
	padding-top: 35px;
}

.navbar-default .navbar-nav > li > a {
    font-weight: 600;
    color: #0B2537;
}

.btn-join {
	background: #b2293b;
	color: #ffffff !important; 
	margin-top: -1px;
	transition: background .4s;
}

.btn-join:hover {
	background: #801422 !important;
}

.header-twitter {
    background: url("/assets/twitter.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    height: 16px;
    margin: 3px 0 0;
    text-indent: -99999px;
    width: 16px;
}

.header-facebook {
    background: url("/assets/facebook.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    height: 16px;
    margin: 5px 0 0;
    text-indent: -99999px;
    width: 16px;
}

.header-instagram {
    background: url("/assets/instagram.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    height: 16px;
    margin: 5px 0 0;
    text-indent: -99999px;
    width: 16px;
}

h1 {
	font-family: "Source Sans Pro", helvetica, arial, sans-serif;
	font-size: 55px;
	font-weight: 900;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-family: "Source Sans Pro", helvetica, arial, sans-serif;
	font-size: 44.5px;
	font-weight: 600;
	margin: 0;
	text-transform: uppercase;
	color: #0B2537;
}

h3 {
	font-family: "Source Sans Pro", helvetica, arial, sans-serif;
	color: #ffffff;
	font-size: 30px;
	font-weight: 400;
	margin: 0;
	text-transform: uppercase;
}

#home-hero {
	background: url(/assets/home-hero.jpg) no-repeat center center fixed;
	height: 650px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding: 200px 0 0;
}

#home-hero .container {
	padding: 120px 0 0;
}

#home-hero h1, #home-hero h2 {
	text-shadow: 0px 0px 7px #000000;
	color: #ffffff;
}

.join-home {
	text-align: center;
	margin: 30px 0 0;
}

.btn-get-started {
	background: #b2293b;
	color: #ffffff;
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
	transition: background .4s;
	border-radius: 0px;
}

.btn-get-started:hover {
	color: #ffffff;
	background: #801422;
}

#quality-banner {
	text-align: center;
	background: #022437;
	color: #ffffff;
	padding: 30px 0;
}

#how-it-works {
	padding: 40px 0 60px;
	text-align: center;
	background: url("/assets/stripe.png");
}

#how-it-works h2 {
	margin: 0 0 30px;
	font-weight: 700;
	color: #022437;
}

#how-it-works h3 {
	font-weight: 700;
	color: #022437;
}

p {
	font-size: 16px;
}

footer {
	background: #0c2638;
	min-height: 220px;
	padding: 20px 0 0;
	color: #ffffff;
}

footer ul {
	list-style-type: none;
	color: #fff;
	padding: 0;
}

footer h5 {
	font-family: "Open Sans",helvetica, arial, sans-serif;
	font-weight: 600;
	padding: 20px 0 0;
}