<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Toilet Paper Society - New Membership"
          data-email="<%= current_user.email %>"
          data-amount="500"
          data-shipping-address="True"
          data-label="Subscribe to Our Plan"></script>
<% end %>