<footer id="footer">
		<div class="container">
			<div class="col-md-4">
				<h5>Don't get caught with your pants down.</h5>
			<ul>
					<li>Join Now</li>
					<li>How it Works</li>
					<li>Privacy Policy</li>
					<li>Terms of Service</li>
			</ul>	
			<small>&copy;2013 Toilet Paper Society. All Rights Reserved.</small></p>
			</div>
			<div class="col-md-4">
				<img src="/assets/logo.png">
			</div>
		</div>
</footer>